:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;
}

.text-header {
    width: 9rem;
    height: 2.5rem;
    color: blue;
}